Client: Owner of a Small Manufacturing Unit, producing packaged consumer goods (Soft Drinks)

Requirements requested by client:
- Tool to visualize the factory floor, showing the layout of machines and their operational status, allowing basic control of machines from a single location.
- Capable of handling basic scenarios automatically (jams, machine faults, overheating, downstream blockage)
- Support virtual testing (fault scenarios, automation rules, etc) 
- Alert on-site team in case of abnormal events
- Should maintain logs for future analysis 


Core Functionalities:
1) Factory Floor Visualisation (2D map, showing machines, conveyors and stations)
2) Live Status & Values (Running, Idle, Fault; Speed, Item Count, Temperature)
3) Control System (Start/Stop belts and stations; Increase/Decrease speed)
4) Automation (Execute predefined rules in response to predefined scenarios)
5) Alert & Notification (push alerts like faults, emergency stop, automatic shutdown, etc to the team)
6) History/Logs 
7) Simulation (for testing automation logic, fault scenarios)

Additional things needed:
- Role based privileges (Authentication and Authorisation: Operators, Supervisors, Admins)
- Rule Configuration Interface (create, modify, delete; enable/disable automation rules)
- Mode switching (between live mode and simulation mode)

Physical Components in the Unit:
1) Conveyor Belts 
	- Parameters: Speed (Units per minute/RPMs) & Direction
	- Have: Motors (RPMs, temperature) & Sensors (item present, jam detected)
2) Stations (machines) 
	- Types: Filling, Packaging, Inspection, Labeling 
	- Parameters: Status, Item processed count, rate of processing, etc
	- Have: Sensors (item present, jam detected, etc)
3) Other Sensors
	- Jam detection, temperature, speed, etc



